<!DOCTYPE html>
<html>
<head>
  <title>MusicianGraph</title>
  <%# stylesheet_link_tag    "application", :media => "all" %>
  <%#stylesheet_link_tag    "resources/css/ext-all" %>
  <%# stylesheet_link_tag    "resources/master.css" %>

  <link rel="stylesheet" type="text/css" href="/stylesheets/resources/css/ext-all.css"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/resources/master.css"/>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "ext-js/ext-all" %>
  <%= javascript_include_tag "arbor" %>
  <%= javascript_include_tag "arbor-tween" %>
  <%= javascript_include_tag "data_manager" %>
  
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
